@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.all {
    height: 100%;
    background: rgb(36,0,12);
background: linear-gradient(176deg, #110006 0%, #180102 47%, #390252 100%);
}

.main {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 58px;
    background: rgb(222,0,23);
    background: linear-gradient(90deg, rgba(222,0,23,1) 0%,
     rgba(253,29,29,1) 48%, rgb(84, 4, 121) 100%);
     border-bottom: 7px solid rgb(184, 9, 9);
}


.head {
    width:100%;
    height: 100%;
    color: white;
    font-family: 'Fugaz One', cursive;
    font-size: 32px;
  
 
    
}

.video_hold {
    display: grid;
    justify-items: center;
    align-items: center;
    /* grid-template-columns:1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 2em 0 0 0;
    row-gap: 1em;
    
}

.video {
    border: 4px solid red;
    overflow: hidden;
}

.player {
    height: 200px;
    width: 50px;
}